.background-dark {
    background-color: rgb(23, 106, 109);
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 40px;
}

.timer {
    font-size: 60px;
    color: white;
    font-family: "Roboto", sans-serif;
}